<%# CAKES PAGE %>



<div class="cake_cookie_muffin-bg">
  <div class="center ">
    <img  class="to_the_right"src="we_deliver.png">
  </div>
  
  <div class="row">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img class="green_size" src="wedding_cake.jpg">
          <span class="card-title black-text span_bgd">Wedding Cakes</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img class="green_size" src="chocalate_cake.png">
          <span class="card-title black-text span_bgd">We make all kinds of flavored cakes!</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img class="green_size" src="birthday_cake.jpg">
          <span class="card-title black-text span_bgd">Fun Birthday cakes</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>