<%# CONTACT PAGE %>








<div class="formcss center">
   <p>Hi, <br>
  Please fill out the below form so we can add you to our email listing.
  You will recieve unique discounts on our delicous baked goods. <br>
  Also you will be able to view our catalog sooner. <br>
  
  The Holidays are coming, please order early so you can enjoy.<br>
  <br>
  Thank you,<br>
  <br>
  The Corner Bakery Cafe</p>
</div>

<form action="/contact" method="post" class="center">
  <input type="text" name="visitor_name" placeholder="Your name" >
  <input type="text" name="email_address" placeholder="email_address@your_provider.com" >
  <input type="text" name="comment" placeholder="Your comments" >
  <input type="submit" value="Go">
</form>




</body>