<%# COOKIES PAGE %>



<div class="cake_cookie_muffin-bg">
  <div class="center ">
    <img  class="to_the_right"src="we_deliver.png">
  </div>
  
  <div class="row">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="chocalate_chip_cookies.png">
          <span class="card-title black-text span_bgd">NY's Best Chocalate Chip Cookie</span>
        </div>
        <div class="card-content">
          <p><%=@choc_chip_cookie%></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img class="green_size" src="green_cookie.jpg">
          <span class="card-title black-text span_bgd">The Famous Joker Cookie</span>
        </div>
        <div class="card-content">
          <p><%=@joker_cookie%></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img class="green_size"src="fancy_cookies.jpg">
          <span class="card-title black-text span_bgd">Fancy Cookies</span>
        </div>
        <div class="card-content">
          <p><%=@fancy_cookie%></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>

