<%# HOME PAGE %>

<div class="home-bg">
  <div class="row bottom ">
  
    <div>
    <p>The Corner Bakery Cafe<br>
     89 Stone Street
    New York City 10004<br>
      1-212-356-8989</p>
    
    </div>
  </div>

</div>