<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/main.css" />
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
  <script type="text/javascript" src="/main.js" defer></script>
  <title>The Good Stuff!</title>
</head>
<body>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo ">
        <img class="responsive-img logo" src="bakery_logo.jpg" alt="logo">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/cookies">Cookies</a></li>
        <li><a href="/cakes">Cakes</a></li>
        <li><a href="/muffins">Muffins</a></li>
        <li><a href="/cakes">Contact</a></li>
      </ul>
    </div>
  </nav>


  <%= yield %>
  <footer>
   <div class="footer-copyright center">
            <div class="container">
            <h4>Thank you for visiting!</h4>
            © 2018 Copyright 
            </div>
          </div>
</footer>
</body>
</html>