body {
  padding: 20px;
}
.logo{
  width: 200px;
  /* height: 200px; */
}

  
  /* set background image per page */
/* .home-bg {
    background-image: url("thumb-1920-2957.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
} */
/* .about-bg {
    background-image: url("bakery_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
} */
/* .contact-bg {
    background-image: url("about_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
} */
/* .cake_cookie_muffin-bg {
    background-image: url("background_for_other_pages.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
} */
